###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               web_server_1
        alias                   web_server_1
        address                 192.168.201.10
        }


###############################################################################
###############################################################################
#
# GROUP DEFINITIONS
#
###############################################################################
###############################################################################

define hostgroup{
	hostgroup_name		web_servers
	alias			Web Servers
	members			web_server_1,web_server_2
	}



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       localhost
        service_description             PING web_server_1
	check_command			check_ping!100.0,20%!500.0,60%
        }


define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       web_server_1
        service_description             HTTP
	check_command			check_http!-p 80 -s dashai
	notifications_enabled		0
	event_handler			st2nagios
        }
###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               web_server_2
        alias                   web_server_2
        address                 192.168.202.10
        }




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       localhost
        service_description             PING web_server_2
	check_command			check_ping!100.0,20%!500.0,60%
        }


define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       web_server_2
        service_description             HTTP
	check_command			check_http!-p 80 -s dashai
	notifications_enabled		0
	event_handler			st2nagios
        }
